---
layout: default
title: Category
---

<script type="javascript">
console.log(1111);
var dataStr = '{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}", "date":"{{post.date | date:"%d/%m/%Y"}}"}{% endfor %}]{% endfor %} }',
data = JSON.parse(dataStr),
curTag = location.search.substring(1).split('=')[1],
archieves = data[curTag];
console.log(archieves);
</script>

{% for post in site.categories.[page.category] %}
<div id="posts" class="posts-expand">
    <div class="post post-type-normal ">
        <div class="post-header">
            <h1 class="post-title">
                <a class="post-title-link" href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </h1>
            <div class="post-meta">
                    <span class="post-time">
                        发表于 {{ post.date }}
                    </span>
                <span class="post-category">
                        &nbsp; | &nbsp; 分类于
                        <a href="/categories/{{ post.category }}/">{{ post.category }}</a>
                    </span>
                <span class="post-comments-count" style="display:none">
                        &nbsp; | &nbsp;
                        <a href="{{ post.url }}#comments" >
                        <span class="post-comments-count ds-thread-count" data-thread-key="{{ post.url }}"></span>
                        </a>
                    </span>
            </div>
        </div>
        <div class="post-body">
            <p><em>涉及知识：{{ post.tag }}</em><br><em>建议阅读：{{ post.readtime }}分钟</em></p>
            <p>
                {{ post.exception }}
            </p>
            <div class="post-more-link text-center">
                <a class="btn" href="{{ post.url }}#more">
                    阅读全文 &raquo;
                </a>
            </div>
            <hr>
            <p>
                作者：<a href="http://yzsunlei.github.io/about">孙磊</a>&emsp;博客：<a href="http://yzsunlei.github.io">http://yzsunlei.github.io</a><br>
                <b><a href="https://github.com/yzsunlei">关注我</a>，咱们一起来改变世界吧<b>
            </p>
        </div>
        <div class="post-footer">
            <div class="post-eof"></div>
        </div>
    </div>
</div>
{% endfor %}