<div id="footer" class="footer">
    <div class="back-to-top"></div>
    <div class="footer-inner">
        <div class="copyright">
            &copy; &nbsp;  2016 - 2017
            <span class="with-love">
                <i class="icon-heart"></i>
            </span>
            <span class="author">yzsunlei</span>
            <span class="with-love">&spades;</span>
            <span class="author">yzsunlei@qq.com</span>
        </div>

        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1261119821'%3E%3C/span%3E%3Cscript src='" +
                cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261119821%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
</div>