<div id="footer" class="footer">
    <div class="back-to-top"></div>
    <div class="footer-inner">
        <div class="copyright">
            &copy; &nbsp;  2016 - 2017
            <span class="with-love">
                <i class="icon-heart"></i>
            </span>
            <span class="author">孙磊</span>
            <span class="with-love">&spades;</span>
            <span class="author">yzsunlei@qq.com</span>
        </div>
        <div class="desc">代码改变世界，思维改变生活 - 以此博客记录我的互联网工作技术成长历程</div>
    </div>
</div>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ee2d49ef0b546ed171a2f42434c85d8c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>