<div id="header" class="header">
    <div class="header-inner">
        <h1 class="site-meta">
            <span class="logo-line-before"><i></i></span>
            <a href="/" class="brand">
                <span class="logo"><i class="icon-logo"></i></span>
                <span class="site-title">孙磊的官方博客</span>
            </a>
            <span class="logo-line-after"><i></i></span>
        </h1>
        <div class="site-nav-toggle">
            <button>
                <span class="btn-bar"></span>
                <span class="btn-bar"></span>
                <span class="btn-bar"></span>
            </button>
        </div>
        <div class="site-nav">
            <ul id="menu" class="menu ">
                <li class="menu-item menu-item-home">
                    <a href="/"><i class="menu-item-icon icon-home"></i> <br />首页</a>
                </li>
                <li class="menu-item menu-item-categories">
                    <a href="/编程"><i class="menu-item-icon icon-categories"></i> <br />编程</a>
                </li>
                <li class="menu-item menu-item-archives">
                    <a href="/读书"><i class="menu-item-icon icon-archives"></i> <br />读书</a>
                </li>
                <li class="menu-item menu-item-subscribe">
                    <a href="/写教程"><i class="menu-item-icon icon-subscribe"></i> <br />写教程</a>
                </li>
                <li class="menu-item menu-item-about">
                    <a href="/about"><i class="menu-item-icon icon-about"></i> <br />关于我</a>
                </li>
            </ul>
        </div>
    </div>
</div>