<div id="header" class="header">
    <div class="header-inner">
        <h1 class="site-meta">
            <span class="logo-line-before"><i></i></span>
            <a href="/" class="brand">
                <span class="logo"><i class="icon-logo"></i></span>
                <span class="site-title">小磊哥er的博客</span>
            </a>
            <span class="logo-line-after"><i></i></span>
        </h1>
        <div class="site-nav-toggle">
            <button>
                <span class="btn-bar"></span>
                <span class="btn-bar"></span>
                <span class="btn-bar"></span>
            </button>
        </div>
        <div class="site-nav">
            <ul id="menu" class="menu ">
                <li class="menu-item menu-item-home" style="display: none">
                    <a href="/"><i class="menu-item-icon icon-home"></i> <br />首页</a>
                </li>
                <li class="menu-item menu-item-subscribe">
                    <a href="/category.html?name=专栏" target="_blank"><i class="menu-item-icon icon-subscribe"></i> <br />专栏写作</a>
                </li>
                <li class="menu-item menu-item-categories">
                    <a href="/category.html?name=编程" target="_blank"><i class="menu-item-icon icon-categories"></i> <br />编程杂录</a>
                </li>
                <li class="menu-item menu-item-archives">
                    <a href="/category.html?name=阅读" target="_blank"><i class="menu-item-icon icon-archives"></i> <br />阅读总结</a>
                </li>
                <li class="menu-item menu-item-think">
                    <a href="/category.html?name=思考" target="_blank"><i class="menu-item-icon icon-think"></i> <br />思考心得</a>
                </li>
                <li class="menu-item menu-item-think">
                    <a href="https://github.com/yzsunlei" target="_blank"><i class="menu-item-icon icon-think"></i> <br />Github主页</a>
                </li>
                <li class="menu-item menu-item-about" style="display:none">
                    <a href="/about.html"><i class="menu-item-icon icon-about"></i> <br />简历</a>
                </li>
            </ul>
        </div>
    </div>
</div>
