<div id="sidebar" class="sidebar">
    <div class="sidebar-inner">
        <div class="site-overview">
            <div class="site-author motion-element">
                <img class="site-author-image" src="https://avatars0.githubusercontent.com/u/3870098?v=3&s=460" alt="孙磊" />
                <p class="site-author-name">孙磊</p>
            </div>
            <p class="site-description motion-element">代码改变世界，思维改变生活</p>
            <div class="site-state motion-element">
                <div class="site-state-item site-state-posts">
                    <a href="/archives">
                        <span class="site-state-item-count">73</span>
                        <span class="site-state-item-name">日志</span>
                    </a>
                </div>
                <div class="site-state-item site-state-categories">
                    <a href="/categories">
                        <span class="site-state-item-count">18</span>
                        <span class="site-state-item-name">分类</span>
                    </a>
                </div>
                <div class="site-state-item site-state-tags">
                    <a href="/tags">
                        <span class="site-state-item-count">38</span>
                        <span class="site-state-item-name">标签</span>
                    </a>
                </div>
            </div>
            <div class="feed-link motion-element">
                <a href="/rss2.xml"><i class="menu-item-icon icon-feed"></i>RSS</a>
            </div>
            <div class="links-of-author motion-element">
                <span class="links-of-author-item">
                    <a href="https://github.com/yalishizhude" target="_blank">github</a>
                </span>
                <span class="links-of-author-item">
                    <a href="http://yalishizhude.github.io" target="_blank">博客</a>
                </span>
                <span class="links-of-author-item">
                    <a href="http://weibo.com/arisjutle" target="_blank">微博</a>
                </span>
                <span class="links-of-author-item">
                    <a href="http://www.imooc.com/myclub/article/uid/1098050" target="_blank">慕课网</a>
                </span>
                <span class="links-of-author-item">
                    <a href="http://www.jobbole.com/members/yalishizhude" target="_blank">伯乐在线</a>
                </span>
                <span class="links-of-author-item">
                    <a href="http://geek.csdn.net/user/publishlist/yalishizhude" target="_blank">极客头条</a>
                </span>
                <span class="links-of-author-item">
                    <a href="http://toutiao.io/subjects/11510" target="_blank">开发者头条</a>
                </span>
            </div>
            <div class="links-of-author motion-element">
            </div>
        </div>
    </div>
</div>