<!doctype html>
<html class="theme-next use-motion theme-next-mist">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
{% include css.html %}
<meta name="description" content="{{ page.exception }} 编程、读书、思考、写教程，孙磊的官方博客" />
<meta name="keywords" content="{{ page.title }}, 编程, 读书, 思考, 写教程" />
<link rel="alternate" href="/rss2.xml" title="孙磊的官方博客" type="application/atom+xml" />
<link rel="shorticon icon" type="image/x-icon" href="/favicon.ico?v=0.4.3" />
<title> {{ page.title | append: ' - ' }}孙磊的官方博客 </title>
</head>
<body>
<div class="container one-column page-home">
    {% include header.html %}
    <div id="main" class="main">
        <div class="main-inner">
            <div id="content" class="content">
            {{ content }}
            </div>
            <!--畅言评论框 PC和WAP自适应版-->
            <div id="SOHUCS" ></div>
            <script type="text/javascript">
			        (function(){
				        var appid = 'cytieXxx6';
				        var conf = 'prod_7810e70c36383080d09bf4264e2573e8';
				        var width = window.innerWidth || document.documentElement.clientWidth;
				        if (width < 960) {
					        window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
            </script>
        </div>

        {% include sidebar.html %}
        {% include footer.html %}
    </div>
    {% include js.html %}
</body>
</html>
